{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>naam</th>
            <th>omschrijving</th>
            <th>prijs</th>
        </tr>
        </thead>
        <tbody>
        {% for producten in productens %}
        <tr>
            <td>{{ producten.naam }}</td>
            <td>{{ producten.omschrijving }}</td>
            <td>{{ producten.prijs }},-</td>
            <td><button>Add</button></td>
        </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
