{% extends 'base.html.twig' %}

{% block title %}New Producten{% endblock %}

{% block body %}
    <h1>Create new Producten</h1>

    {{ include('producten/_form.html.twig') }}

    <a href="{{ path('producten_index') }}">back to list</a>
{% endblock %}
